# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Database
*.db
*.sqlite

# Uploads
uploads/

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbnul
